<aside><pre>ChristophRoeper(<a href="/{% if site.active_lang != "en" %}{{ site.active_lang }}/{% endif %}">roeper.biz</a>)
{
    <b>administration
    consulting
    development
    training</b>
    
    Augustastr. 5
    52070 Aachen
    Germany
    
    P  {{ site.author["phone"] }}</pre>
<ul>
    {% for lang in site.languages %}
    <li>
        <a {% if lang == site.active_lang %}style="font-weight: bold;"{% endif %}" href="{% if lang == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ lang }}{{page.url}} {% endif %}">{{ lang }}</a>
    </li>
    {% endfor %}
</ul>
<nav>
    <ul>
        <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/contact/">{{ site.contact[site.active_lang] }}</a></li>
        <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/imprint/">{{ site.imprint[site.active_lang] }}</a></li>
    </ul>
</nav>
}
</aside>