<aside><pre>ChristophRoeper(<a href="/{% if site.active_lang != "en" %}{{ site.active_lang }}/{% endif %}">roeper.biz</a>)
{
    {% if site.active_lang == "en" %}<b>administration
    consulting
    development
    training</b>{% else %}<b>administration
    beratung
    entwicklung
    schulung</b>{% endif %}

    <a href="mailto:{{ site.author["email"] }}">{{ site.author["email"] }}</a>
    {% if site.active_lang == "en" %}P{% else %}T{% endif %}  {{ site.author["phone"] }}</pre>

<ul>
    {% for lang in site.languages %}
    <li>
        <a {% if lang == site.active_lang %}style="font-weight: bold;"{% endif %}" href="{% if lang == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ lang }}{{page.url}} {% endif %}">{{ lang }}</a>
    </li>
    {% endfor %}
</ul>

}

<nav>
    <ul>
        <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/contact/">{{ site.contact[site.active_lang] }}</a></li>
        <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/imprint/">{{ site.imprint[site.active_lang] }}</a></li>
        <!-- <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/atom.xml">{{ site.feed[site.active_lang] }}</a></li> -->
        <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/services/">{{ site.services[site.active_lang] }}</a></li>
        <li><a href="{{ site.baseurl }}{% if site.active_lang != "en" %}/{{ site.active_lang }}{% endif %}/about/">{{ site.about[site.active_lang] }}</a></li>
    </ul>
</nav>

</aside>